@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>This is Index1</h2>
<h2>This is Index2</h2>
<h2>This is Index3</h2>
<h2>This is Index4</h2>
<h2>This is Index5</h2>
<h2>This is Index6</h2>
<h2>This is Index</h2>
<h2>This is Index</h2>
<h2>This is Index</h2>
<h2>This is Index</h2>
